<ion-header>
  <ion-navbar>
    <ion-title>
     Login
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <form #form="ngForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label stacked>Usuário</ion-label>
        <ion-input type="text" name="usuario" [(ngModel)]="user.usuario" #usuario="ngModel" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button block color="primary" [disabled]="!form.form.valid" (click)="login()">
      Entrar
    </button>
  </form>

</ion-content>
