<ion-header>
  <ion-navbar>
    <ion-title>GIFs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #form="ngForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label stacked>Buscar GIFs</ion-label>
        <ion-input type="text" name="pesquisa" [(ngModel)]="txtPesquisa" #pesquisa="ngModel" required></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button block color="primary"  (click)="buscar()">
      Buscar
    </button>
  </form>
  <ion-list>
    <ion-item *ngFor="let gif of gifs">
      {{gif.title}}<br/>
      <img src="{{gif.images.original.url}}"/>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
